<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garage Door Controller</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="text-center">
        <h1>Garage Door Controller</h1>
        <img src="{{ '{}?{}'.format(url_for('show'), timestamp) }}" class="rounded" alt="Garage image"/>
        <a href="/toggle-door?channel=18" class="btn btn-primary">Toggle Door</a>
    </div>
</body>
</html>